[submodule "submodules/raylib"]
	path = submodules/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "submodules/clay"]
	path = submodules/clay
	url = https://github.com/boringlily/clay.git
[submodule "submodules/nanosvg"]
	path = submodules/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "submodules/tracy"]
	path = submodules/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
